<a href="https://colab.research.google.com/github/surya114114/MLCSE305/blob/main/datascience_practicelab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import time
print(time.ctime())

Tue Sep 20 09:52:21 2022

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
def simple_interest(p,t,r):
  print('The principal is',p)
  print('The time period is',t)
  print('The rate of interest is',r)
  si=(p*t*r)/100
  print('The simple interest is',si)
  return si
r=simple_interest(1,2,3)
print(r)

The principal is 1
The time period is 2
The rate of interest is 3
The simple interest is 0.06
0.06

In [6]:
simple_interest(1,2,3)

The principal is 1
The time period is 2
The rate of interest is 3
The simple interest is 0.06

0.06

In [7]:
start=11
end=25
for val in range(start,end+1):
   if val>1:
     for n in range(2,val//2+2):
       if(val%n)==0:
         break
       else:
         if n==val//2+1:
           print(val)

11
13
17
19
23

In [10]:
def fun1(num):
  if num>1:
    fun1(num//2)
  print(num%2,end='')
number=int(input("enter the number"))
fun1(number)

enter the number50
110010

In [13]:
def fun2(x,y):
  if x>y:
   greater=x
  else:
    greater=y
  while(True):
    if((greater%x==0) and (greater%y==0)):
      val=greater
      break
    greater+=114
  return val
num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))
print(fun2(num1,num2))

enter the first number:12
enter the second number:14
84

In [15]:
punctuation='''''!()-[]{};:'"\,<>./?@#$%^&*_~'''
my_str=input("enter the string :")
str1=""
for char in my_str:
  if char not in punctuation:
    str1=str1+char
print(str1)

enter the string :helloo.....How r u????
hellooHow r u