<a href="https://colab.research.google.com/github/surya114114/MLCSE305/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("helloworld")

helloworld

In [ ]:
print(2+3) 
a=20 
print(a)
print(type(a)) 
a="hello" 
print(len(a))

5
20
<class 'int'>
5

In [ ]:
x=3
print(type(x))
print(x)
print(x+1)
print(x-1)
print (x * 2) 
print (x ** 2) 
x += 1
print (x) 
x *= 2
print (x ) 
y = 2.5
print (type(y)) 
print (y, y + 1, y * 2, y ** 2)

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
s="hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace('l','(ell)'))
print(' world '.strip())

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

In [ ]:
a="JKLM"
for i in a:
 print(i+"ack")

Jack
Kack
Lack
Mack

In [ ]:
a=int(input("Enter a number: "))
if (a>10):
  print("Number is greater than 10")
else:
  print("Number is less than 10")

Enter a number: 10
Number is less than 10

In [ ]:
a=10
if a>5:
  print("a>5")
elif a>4:
  print("a>4")
else:
  print("Not matching")
for i in range(10):
   print(i)

a>5
0
1
2
3
4
5
6
7
8
9

In [ ]:
def my_fun(x,y):
  print (x+y)
my_fun(10,20)
my_fun("10","20")

30
1020

In [ ]:
a=[] 
a=[1,2,3,4.5,"Hello","50"]
print (type(a))
print (len(a))
print( a[0])
print (a[-1])
print (a[2:5])
a.append(100) 
print (a)
a.remove(2)
print(a)
a.append("append value")
print (a)
a.insert(3,"insert value")
print (a)

<class 'list'>
6
1
50
[3, 4.5, 'Hello']
[1, 2, 3, 4.5, 'Hello', '50', 100]
[1, 3, 4.5, 'Hello', '50', 100]
[1, 3, 4.5, 'Hello', '50', 100, 'append value']
[1, 3, 4.5, 'insert value', 'Hello', '50', 100, 'append value']

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares=[]
for x in nums:
 if x%2==0:
  even_squares.append(x**2)
print( even_squares)

[0, 4, 16]

In [ ]:
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print (even_squares)

[0, 4, 16]

In [ ]:
a=range(1,25)
a[2:5]
a[-1]
a[1:5:2]
a[-3:-1]
a[:]
a[::]
a[::2]
a[::-1]

range(24, 0, -1)

In [ ]:
a=range(1,25)
a[::-1]

range(24, 0, -1)

In [ ]:
animals = {'cat', 'dog'}
print ('cat' in animals) # Check if an element is in a set; prints "True"
print ('fish' in animals ) # prints "False"
animals.add('fish') # Add an element to a set
print ('fish' in animals) # Prints "True"
print (len(animals)) # Number of elements in a set; prints "3"
animals.add('cat') # Adding an element that is already in the set does nothing
print (len(animals) ) # Prints "3"
animals.remove('cat') # Remove an element from a set
print (len(animals) )

True
False
True
3
3
2

In [ ]:
pos={}#empty dictionary
print (type(dict))
pos["Man"]="Noun"
pos["Play"]="Verb"
pos["Good"]="Adjective"
pos["Apple"]="Noun"
pos["Cricket"]="Noun"
pos["Cry"]="Verb"
print (pos)
#Print all the nouns in the dictionary
for w in pos:
 if pos[w]=="Noun":
  print (w)

<class 'type'>
{'Man': 'Noun', 'Play': 'Verb', 'Good': 'Adjective', 'Apple': 'Noun', 'Cricket': 'Noun', 'Cry': 'Verb'}
Man
Apple
Cricket

In [ ]:
d= {(x, x + 1): x for x in range(10)} # Create a dictionary with tuple keys
t = (5, 6) # Create a tuple
print (type(t)) # Prints "<type 'tuple'>"
print (d[t] ) # Prints "5"
print (d[(1, 2)]) # Prints "1"
7

<class 'tuple'>
5
1

7

In [ ]:
file=open("newfile.txt","w")
print (type(file))
a="This will be written to the file."
file.write(a)
file.close()

<class '_io.TextIOWrapper'>

In [ ]:
import numpy as np
a = np.array([1, 2, 3]) 
print (type(a)) 
print (a.shape) 
print (a[0], a[1], a[2]) 
a[0] = 5 
print (a) 
b = np.array([[1,2,3],[4,5,6]]) 
print( b.shape ) 
print( b[0, 0], b[0, 1], b[1, 0])

<class 'numpy.ndarray'>
(3,)
1 2 3
[5 2 3]
(2, 3)
1 2 4

In [ ]:
import numpy as np
a = np.zeros((2,2)) # Create an array of all zeros
print (a) # Prints "[[ 0. 0.]
# [ 0. 0.]]"
b = np.ones((1,2)) # Create an array of all ones
print( b) # Prints "[[ 1. 1.]]"
c = np.full((2,2), 7) # Create a constant array
print (c) # Prints "[[ 7. 7.]
# [ 7. 7.]]"
d = np.eye(2) # Create a 2x2 identity matrix
print (d) # Prints "[[ 1. 0.]
# [ 0. 1.]]"
e = np.random.random((2,2)) # Create an array filled with random values
print (e)

[[0. 0.]
 [0. 0.]]
[[1. 1.]]
[[7 7]
 [7 7]]
[[1. 0.]
 [0. 1.]]
[[0.94998909 0.90313055]
 [0.03531457 0.81544497]]

In [ ]:
import numpy as np
# Create the following rank 2 array with shape (3, 4)
# [[ 1 2 3 4]
# [ 5 6 7 8]
# [ 9 10 11 12]]
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
# [6 7]]
b = a[:2, 1:3]
print(b)
# A slice of an array is a view into the same data, so modifying it
# will modify the original array.
print( a[0, 1] ) # Prints "2"
b[0, 0] = 77 # b[0, 0] is the same piece of data as a[0, 1]
print (a[0, 1] ) # Prints "77"

[[2 3]
 [6 7]]
2
77

In [ ]:
import numpy as np
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)
# Elementwise sum; both produce the array
# [[ 6.0 8.0]
# [10.0 12.0]]
print (x + y)
print (np.add(x, y))
# Elementwise difference; both produce the array
# [[-4.0 -4.0]
# [-4.0 -4.0]]
print (x - y)
print (np.subtract(x, y))
# Elementwise product; both produce the array
# [[ 5.0 12.0]
# [21.0 32.0]]
print( x * y)
print (np.multiply(x, y))
# Elementwise division; both produce the array
# [[ 0.2 0.33333333]
# [ 0.42857143 0.5 ]]
print (x / y)
print (np.divide(x, y))
# Elementwise square root; produces the array
# [[ 1. 1.41421356]
# [ 1.73205081 2. ]]
print (np.sqrt(x))

[[ 6.  8.]
 [10. 12.]]
[[ 6.  8.]
 [10. 12.]]
[[-4. -4.]
 [-4. -4.]]
[[-4. -4.]
 [-4. -4.]]
[[ 5. 12.]
 [21. 32.]]
[[ 5. 12.]
 [21. 32.]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[0.2        0.33333333]
 [0.42857143 0.5       ]]
[[1.         1.41421356]
 [1.73205081 2.        ]]

In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({ 'A' : range(1,5),
'B' : pd.Timestamp('20130102'),
'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
'D' : np.array([3] * 4,dtype='int32'),
'E' : pd.Categorical(["test","train","test","train"]),
'F' : 'foo' })
df1

   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  2 2013-01-02  1.0  3  train  foo
2  3 2013-01-02  1.0  3   test  foo
3  4 2013-01-02  1.0  3  train  foo