<a href="https://colab.research.google.com/github/surya114114/MLCSE305/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("helloworld")

helloworld

In [ ]:
print(2+3) 
a=20 
print(a)
print(type(a)) 
a="hello" 
print(len(a))

5
20
<class 'int'>
5

In [ ]:
x=3
print(type(x))
print(x)
print(x+1)
print(x-1)
print (x * 2) 
print (x ** 2) 
x += 1
print (x) 
x *= 2
print (x ) 
y = 2.5
print (type(y)) 
print (y, y + 1, y * 2, y ** 2)

<class 'int'>
3
4
2
6
9
4
8
<class 'float'>
2.5 3.5 5.0 6.25

In [ ]:
s="hello"
print(s.capitalize())
print(s.upper())
print(s.rjust(7))
print(s.center(7))
print(s.replace('l','(ell)'))
print(' world '.strip())

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

In [ ]:
a="JKLM"
for i in a:
 print(i+"ack")

Jack
Kack
Lack
Mack

In [ ]:
a=int(input("Enter a number: "))
if (a>10):
  print("Number is greater than 10")
else:
  print("Number is less than 10")

Enter a number: 10
Number is less than 10

In [ ]:
a=10
if a>5:
  print("a>5")
elif a>4:
  print("a>4")
else:
  print("Not matching")
for i in range(10):
   print(i)

a>5
0
1
2
3
4
5
6
7
8
9

In [ ]:
def my_fun(x,y):
  print (x+y)
my_fun(10,20)
my_fun("10","20")

30
1020

In [ ]:
a=[] 
a=[1,2,3,4.5,"Hello","50"]
print (type(a))
print (len(a))
print( a[0])
print (a[-1])
print (a[2:5])
a.append(100) 
print (a)
a.remove(2)
print(a)
a.append("append value")
print (a)
a.insert(3,"insert value")
print (a)

<class 'list'>
6
1
50
[3, 4.5, 'Hello']
[1, 2, 3, 4.5, 'Hello', '50', 100]
[1, 3, 4.5, 'Hello', '50', 100]
[1, 3, 4.5, 'Hello', '50', 100, 'append value']
[1, 3, 4.5, 'insert value', 'Hello', '50', 100, 'append value']

In [1]:
nums = [0, 1, 2, 3, 4]
even_squares=[]
for x in nums:
 if x%2==0:
  even_squares.append(x**2)
print( even_squares)

[0, 4, 16]

In [2]:
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print (even_squares)

[0, 4, 16]

In [3]:
a=range(1,25)
a[2:5]
a[-1]
a[1:5:2]
a[-3:-1]
a[:]
a[::]
a[::2]
a[::-1]

range(24, 0, -1)

In [13]:
a=range(1,25)
a[::-1]

range(24, 0, -1)

In [14]:
animals = {'cat', 'dog'}
print ('cat' in animals) # Check if an element is in a set; prints "True"
print ('fish' in animals ) # prints "False"
animals.add('fish') # Add an element to a set
print ('fish' in animals) # Prints "True"
print (len(animals)) # Number of elements in a set; prints "3"
animals.add('cat') # Adding an element that is already in the set does nothing
print (len(animals) ) # Prints "3"
animals.remove('cat') # Remove an element from a set
print (len(animals) )

True
False
True
3
3
2

In [16]:
pos={}#empty dictionary
print (type(dict))
pos["Man"]="Noun"
pos["Play"]="Verb"
pos["Good"]="Adjective"
pos["Apple"]="Noun"
pos["Cricket"]="Noun"
pos["Cry"]="Verb"
print (pos)
#Print all the nouns in the dictionary
for w in pos:
 if pos[w]=="Noun":
  print (w)

<class 'type'>
{'Man': 'Noun', 'Play': 'Verb', 'Good': 'Adjective', 'Apple': 'Noun', 'Cricket': 'Noun', 'Cry': 'Verb'}
Man
Apple
Cricket

In [18]:
d= {(x, x + 1): x for x in range(10)} # Create a dictionary with tuple keys
t = (5, 6) # Create a tuple
print (type(t)) # Prints "<type 'tuple'>"
print (d[t] ) # Prints "5"
print (d[(1, 2)]) # Prints "1"
7

<class 'tuple'>
5
1

7

In [20]:
file=open("newfile.txt","w")
print (type(file))
a="This will be written to the file."
file.write(a)
file.close()

<class '_io.TextIOWrapper'>